# .gitignore for scala projects

# Classes and logs
*.class
*.log
*~

# SBT-specific
.cache
.history
.classpath
.project
.settings

.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Ensime specific
.ensime

# Scala-IDE specific
.scala_dependencies
.worksheet


